body{
	background-color: #e3f4bb;
	background: url("../images/1335171022.jpg");
	background-attachment: fixed;
}
.container{
	width: 100%;
	max-width: 1340px
}

/*Resgistration,sign-in page*/


.signIn{
	background-color: white;
	border: 1px solid rgb(205,205,205);
	margin: 20% auto;
	padding: 0;
	width: 100%;
	max-width: 450px;
}
.signIn input{
	display: block;
	width: 90%;
	margin: 10px auto;
	padding-left: 2%;
}
.signIn .signHead{
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}
.signIn form{
	margin: 25px auto;
}
.signIn .signHead p{
	margin: 0;
	padding: 0;
}
.goToSingIn, .goToRegistration{
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	width: 48%;
	margin: 0;
	padding:10px 0;
	border: none;
}
.goToSingIn:hover, .goToRegistration:hover{
	text-decoration: none;
	color: #5e7b1a;
}
.goToSingIn:hover:not(.offFocus), .goToRegistration:hover:not(.offFocus){
	color: initial;
}
.offFocus{
	background-color: rgb(238,238,238);
	border: 1px solid rgb(205,205,205);
	float: left;
	border-top: none;
	border-left: none;
	color: #5e7b1a;
}
.goToSingIn + .offFocus{
	float: right;
	border-left: 1px solid rgb(205,205,205);
	border-right: none;
}
.icon{
	height: 30px;
	width: 30px;
	margin-right: 20px;
}
.signIn input[type="submit"]{
	background: -webkit-gradient(linear, left bottom, left top, from(#5e7b1a),to(#87ae26)) ;
	background: linear-gradient(to top, #5e7b1a, #87ae26) ;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	border: 1px solid rgb(25, 102, 63);
	margin-top: 25px;
}
.signIn input[type="submit"]:hover{
	background: #5e7b1a;
}

/*Main page*/
.login{
	color: #d9d9d9;
}
.main_caption{
	text-align: center;
	padding-top:30px;
	font-size: 20px;
	color: white;
}

.topPart{
	width: 100%;
	position: fixed;
	z-index: 99;
	background: url("../images/1335171022.jpg");
}
.mainPart{
	padding-top: 85px;
}
.logOut{
	display: block;
	width:80px;
	border-radius: 5px;
	padding: 2px 7px;
	font-size: 0.9em;
	margin: 5px auto;
	background-color: grey;
	border: 1px solid #f8f8fa;
	color: rgb(248, 249, 255);
	text-decoration: none;
}
.userData{
	text-align: center;
	font-weight: bold;
	font-size: 1.2;

	height: 10%;
	margin: 15%;
}
.userMenu{
	margin: 15px auto;
	padding: 0;
	text-align: center;
}
.userMenu a{
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
	margin: 0 15px;
	background-color: #5e7b1a;
	border: 1px solid #1b1b1c;
	color: rgb(255, 255, 255);
	max-width: 200px;
}
#receiptButton{
	background-color: #bcbe3f;
}
#printButton{
	color:white;
	background-color: #00d000;
	cursor: pointer;
}
#addSort{
	background-color: #00d000;
}
#IssueButton{
	background-color: #bcbe3f;
}
.userMenu a:hover, #printButton:hover, #receiptButton:hover, #addSort:hover, #IssueButton:hover{
	text-decoration: none;
	background-color: #21953c;
}
.mainTable{
	width: 100%;
	text-align: center;
	/*border: 1px solid rgb(123, 251, 69);*/
	border-collapse: collapse;
	color: #ffffff;
	table-layout: fixed;
	margin-left: -10px;
	/*word-wrap:break-word;*/
}
.mainMenu th{
	
	padding: 7px 1px;
	color: rgb(238, 234, 255);
	font-weight: bold;
	vertical-align: middle;
	border: 1px solid rgb(254, 254, 255);
	background-color: #87ae26;
}
.mainList tr:hover{
	background-color: #21953c;
}
.mainList td{
	padding: 7px 1px;
	border: 1px solid rgb(245, 249, 255);
	vertical-align: middle;
}
.logo{
	display: block;
	color: #e2e2e2;
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 0;
}
.logoImg{
	float: right;
	width: 100%;
	max-width: 100px;
	height: auto;
	padding: 0;
	margin: 0;
}

.mainMenu{
	margin-top: 30px;
}

.logOut:hover{
	cursor: pointer;
	background-color: #5b5b5b;
	color: white;
	text-decoration: none;
}


/*START PAGE*/
.title{
	margin-top: 30%;
	text-align: center;
	color: white;
	font-weight: bold;
}

/*APPLICATION FOR RECEIPT*/
.tooltip1 {
      position: fixed;
      padding: 10px 20px;
      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: center;
      font: italic 14px/1.3 arial, sans-serif;
      color: #333;
      background: #fff;
      -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
              box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

/*#receiptForm{*/
	/*margin-left: 15px;*/
/*}*/

#receiptForm select{
	display: block;
	width: 90%;
	margin:10px auto;
	color: black;
	-webkit-box-shadow: none;
	        box-shadow: none;
	border: 1px solid rgb(175,175,175);
	height: 30px;
	padding: 0;
	background-color: white;
	height: 35px;
}

/*ADMIN PAGE*/
.acceptButton{
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
	background-color: #5e7b1a;
	border: 1px solid #1b1b1c;
	color: rgb(255, 255, 255);
	max-width: 200px;
	margin-left: 10px;
}
.acceptButton:hover{
	cursor: pointer;
	background-color: #00d000;
}

.adminTable td:last-child,.adminTable th:last-child{
	border: hidden;
	border-left: 1px solid rgb(218, 234, 236);
}
.adminTable th:last-child{
	border: hidden;
	background:none;
	border-left: 1px solid rgb(218, 234, 236);
}


#categoryTable{
	width: 90%;
	text-align: center;
	border-collapse: collapse;
	color: rgb(0, 131, 47);
	table-layout: fixed;
	margin: 0 auto;
}
#categoryTable th{
	padding: 7px 1px;
	color: rgb(0, 131, 47);
	font-weight: bold;
	vertical-align: middle;
	border: 1px solid rgb(0, 131, 47);
	background-color: rgb(242, 236, 244);
}
#categoryTable tr:hover{
	background-color: #65f381;
}
#categoryTable td{
	padding: 7px 1px;
	border: 1px solid rgb(0, 131, 47);
	vertical-align: middle;
}

