<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Application for receipt</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/var25_css.css"> <!-- підключи js нормально -->

</head>
<body>


	<div class="container">
		<div class="row">
			<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
				<div class="signIn">
					<div class="signHead">
						<a class="goToSingIn" href="applicationForReceipt.html" style="width: 100%">Receipt</a>
					</div>

					<form id="receiptForm" method="post" action="">

                        <select name="typ" action="" id="category">
                            {% for typ in TypeHtml %}
                            <option value="{{ typ.id }}" SELECTED>{{ typ.name }}</option>
                            {% endfor %}
                        </select>

                        <select name="sort" action="" id ="selectFason" hidden="true">
                        </select>

                        <script>
                            var categoryId = 1;
                            category.onclick = function(event){
                                if(event.target.tagName != 'OPTION') return;
                                categoryId = event.target.value;

                                let length = selectFason.children.length;
                                for(let i = length-1; i >= 0; i--){
{#                                    if(selectFason.children[i].dataValue != categoryId)#}
                                        selectFason.children[i].remove();
                                }
                                {% for sort in sort_html %}
                                    if ('{{sort.types_id}}' == categoryId){
                                        let opt = document.createElement('option');
                                        opt.innerHTML = '{{sort.name}}';
                                        opt.value = '{{sort.name}}';

                                        selectFason.append(opt);
                                    }
                                {% endfor %}
                                selectFason.hidden = false;
                            }
                        </script>

                        <input type="text" name="manufacturer" placeholder="Manufacturer" value="{{ request.form.manufacturer }}">
                        <input id="amount" type="number" name="quantity" placeholder="Quantity" value="{{request.form.quantity}}" min=0 ><!-- id не міняти -->
                        <input type="text" name="date_adoption" placeholder="Date of adoption" value="{{request.form.date_adoption}}" onfocus="(this.type='date')">
                        <input type="text" name="date_issue" placeholder="Date of issue" value="{{request.form.date_issue}}" onfocus="(this.type='date')">

                    	<p><input type="submit" class="btn btn-primary" value="Create application"></p>                        
					</form>
				</div>
			</div>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="../static/bootstrap/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/js/category_ajax.js"></script>

</body>
</html>