<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Warehouse</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" media="all">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/var25_css.css">
    <style media="print">
  .noPrint{ display: none; }
  .yesPrint{ display: block !important; word-wrap:break-word;}
        .mainTable{width: 100%;}
</style>
</head>
<body>
	<div class="container">
    <div class="row topPart">
        <div class="col-1">
            <div class="userData">
                <p class="login">{{ curent_user }}</p>
                <a href="/" name="logOut" class="logOut" >LogOut</a>
            </div>
        </div>
        <div class="col-11">
            <div class="userMenu">
                <a href="/receipt" id="receiptButton">+ Add application</a>
                <a id="acceptedApp" href="#">+ Show only accepted applications</a>
                <a id="filledInApp" href="#">+ Show filled in applications</a>
                <a id="allApp" href="">+ Show all applications</a>
                <a TYPE="button" onClick="window.print()" id="printButton">+ Print</a>
            </div>
        </div>
    </div>
		<div class="row noPrint" style="padding-top: 130px;">
			<div class="col-12">
				<div class="logo">
					<h1>Green warehouse - keep you things well</h1>
				</div>
			</div>
		</div>
		<div class="row yesPrint">
			<div class="col-12">
				<table class="mainTable">
					<thead class="mainMenu">
						<th data-type="string">Type</th>
						<th data-type="string">Sort</th>
						<th data-type="string">Manufacturer</th>
                        <th data-type="number">Quantity</th>
                        <th data-type="number">Date adoption</th>
                        <th data-type="number">Date issue</th>
                        <th data-type="number">Price</th>
                        <th data-type="number">Confirmed app</th>
					</thead>
					<tbody class="mainList">
                    {% for product in second_table %}
                        <tr>
                            <td>{{ product[4].name}}</td>
							<td>{{ product[3].name}}</td>
							<td>{{ product[2].name}}</td>
                            <td>{{ product[0].quantity }}</td>
                            <td>{{ product[0].date_adoption }}</td>
                            <td>{{ product[0].date_issue }}</td>
                            <td>{{ product[0].price }}</td>
                            <td>{{ product[0].confirmed }}</td>
						</tr>
                    {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		
<!-- {#				<div class="mainList">#}
{#					{% extends "base.html" %}#}
{#					{% block content %}#}
{#					<div><p>{{goods.category}}</p><p>{{goods.material}}</p><p>{{goods.fashion}}</p><p>{{goods.brand}}</p></div>#}
{#					{% endfor %}#}
{#					{% endblock %}#}
{#				</div>#} -->

			
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>