<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/var25_css.css">
</head>
<body>
	<div class="container">

		<div class="row">
			<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
				<div class="signIn">
					<div class="signHead">
						<a class="goToSingIn offFocus" href="/LogIn"><img src="../static/images/log_icon.png" class="icon">Sing in</a>
						<a class="goToRegistration" href="/SignUp"><img src="../static/images/SignUp_icon.gif" class="icon">Registration</a>
					</div>

					<form method="post" action="">
                            {{ form.login(placeholder="Login") }}
                            {{form.password(placeholder="Password") }}
                            {{form.confirm(placeholder="Confirm password") }}
                            {{form.email(placeholder="Email")}}
                            {{form.username(placeholder="Company name")}}
                          <p><input type="submit" name="LogIn" value="Submit"></p>

					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>