<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sing in</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="../static/css/var25_css.css">
</head>
<body>
	<div class="container">
		<div class="row">z
			<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
				<div class="signIn">
					<div class="signHead">
						<a class="goToSingIn" href="/LogIn"><img src="../static/images/log_icon.png" class="icon">Sing in</a>
						<a class="goToRegistration offFocus" href="/SignUp"><img src="../static/images/SingUp_icon.png" class="icon">Registration</a>
					</div>

					<form method="post" action="">
						<input type="text" name="login" placeholder="Login" value="{{request.form.login}}">
						<input type="password" name="password" placeholder="Password" value="{{request.form.password}}">
						<p><input type="submit" name="singIn" value="Submit"></p>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>